<div class="navbarLayout">
  <nav class="navbar">
    <div class="container-fluid">
      <!-- <button
        class="btn rounded-pill btn-outline-success bg-light pull-left"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div
        id="resume"
        class="navbar-nav ms-auto"
        style="
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
        "
      >
        <a href="" class="btn btn-outline-primary rounded-pill me-5 mt-4"
          >Resume</a
        >
        <a href="" class="btn btn-primary me-5 mt-4">Download</a>
      </div>
    </div>
  </nav>
</div>
