#navtitle {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 300;
  margin-left: 40px;
}

#navlist li {
  font-family: "Montserrat";
  font-weight: 200;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  transition: 0.1s;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#navlist li img {
  width: 30px;
  display: none;
  height: 30px;
  border-radius: 50%;
}

#navlist li:hover {
  font-weight: 500;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom: 2px white solid;
}

@media (min-width: 992) {
  #navlist li img {
    display: block;
  }
}
