#navlinksList {
  min-width: 1300px;
  display: flex;
  justify-content: space-evenly;
  justify-items: flex-end;
  flex-direction: row;
}

#navlinksList li {
  /* TODO */
  background-color: aqua;
  min-width: 150px;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  font-size: 20px;
  display: inline-block;
}

#navlinksList li :hover {
  font-size: 1.5rem;
  transition: 0.5s;
  border-bottom: 2px black solid;
}

#navlinksList li a {
  color: black;
  font-family: "Montserrat";
}
