<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler pull-left"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="resume" class="navbar-nav ms-auto">
      <a href="" class="btn btn-outline-primary rounded-pill me-5 mt-4"
        >Resume</a
      >
      <a href="" class="btn btn-primary me-5 mt-4">Download</a>
    </div>
  </div>
</nav>
