#navlinksList li {
  margin: 10px;
  font-size: 20px;
  display: inline-block;
}

#navlinksList li : :hover {
  margin: 10px;
  font-size: 20px;
  display: inline-block;
}

#navlinksList li a {
  color: black;
  font-family: "Montserrat";
}
