<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <button
      type="button"
      class="navbar-toggle collapsed pull-left"
      data-toggle="collapse"
      data-target="#myNavbar"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div id="resume" class="navbar-nav ms-auto">
      <a href="" class="btn btn-outline-primary rounded-pill me-5 mt-4"
        >Resume</a
      >
      <a href="" class="btn btn-primary me-5 mt-4">Download</a>
    </div>
  </div>
</nav>
