#navlinksList {
  display: flex;
  flex-direction: row;
}
#navlinksList .links {
  max-width: 1200px;
  display: flex;
  justify-content: right;
  margin-right: 0px;
}

#navlinksList .links li {
  max-width: 200px;
  min-width: 120px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

#navlinksList .links li :hover {
  font-size: 1.3rem;
  transition: 0.5s;
  border-bottom: 2px black solid;
}

#navlinksList .links li a {
  color: white;
  font-family: "Montserrat";
}
