<header>
  <h1><span class="spot">Spotify</span> Duotone Effect</h1>
  <h2>Using CSS filters, blend modes, and pseudo-elements</h2>
  <p>(Hover over the image to see the original.)</p>
  <button class="btn" id="btn">Alternate Version</button>
</header>

<div class="grid-container">
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatZmRNbzYyWlJvdVk"
      alt="shirley manson"
    />
    <div class="adjust"></div>
  </figure>
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatLTAzcF9rOTZYVUE"
      alt="neko case"
    />
    <div class="adjust"></div>
  </figure>
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatU2dqUXlJaVFRNWM"
      alt="joanna newsom"
    />
    <div class="adjust"></div>
  </figure>
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatNDBTTTlQSTlkZjA"
      alt="beyonce"
    />
    <div class="adjust"></div>
  </figure>
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatcC1KTkNTTVhsYzA"
      alt="tori amos"
    />
    <div class="adjust"></div>
  </figure>
</div>

<header>
  <h1><span class="spot">Spotify</span> Duotone Effect</h1>
  <h2>Using CSS filters, blend modes, and pseudo-elements</h2>
  <p>(Hover over the image to see the original.)</p>
  <button class="btn" id="btn">Alternate Version</button>
</header>

<div class="grid-container">
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatZmRNbzYyWlJvdVk"
      alt="shirley manson"
    />
    <div class="adjust"></div>
  </figure>
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatLTAzcF9rOTZYVUE"
      alt="neko case"
    />
    <div class="adjust"></div>
  </figure>
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatU2dqUXlJaVFRNWM"
      alt="joanna newsom"
    />
    <div class="adjust"></div>
  </figure>
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatNDBTTTlQSTlkZjA"
      alt="beyonce"
    />
    <div class="adjust"></div>
  </figure>
  <figure class="spot-grad">
    <img
      src="https://drive.google.com/uc?export=view&id=0B8HLX1nN4xatcC1KTkNTTVhsYzA"
      alt="tori amos"
    />
    <div class="adjust"></div>
  </figure>
</div>
