#navlinksList {
  display: flex;
  flex-direction: row;
  border-bottom: 2px lightblue solid;
}

#navlinksList a {
  display: flex;
  justify-content: left;
  margin-top: 1%;
  font-size: 30px;
}

#navlinksList .links {
  margin-left: auto;
}

#navlinksList .links li {
  margin-top: 2%;
  text-align: center;
  max-width: 200px;
  min-width: 120px;
  display: inline-block;
}

#navlinksList .links li :hover {
  font-size: 1.5rem;
  transition: 0.5s;
  text-shadow: 2px 2px 8px #fff;
  border-bottom: 4px black solid;
}

#navlinksList .links li a {
  display: block;
  color: black;
  font-size: 20px;
  font-family: "Montserrat";
}

.bars {
  width: 35px;
  height: 3.5px;
  background-color: black;
  margin: 6px 0;
}

#toggler-btn {
  margin-right: 30px;
  margin-top: 1%;
  border: none;
  display: none;
}

@media (max-width: 1000px) {
  #toggler-btn {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: initial;
    margin-left: auto;
  }
  body {
    background-color: black;
  }

  #navlinksList .links {
    height: 60vh;
    width: 200vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #navlinksList .links li a {
    color: white;
  }
  #navlinksList .links li a:hover {
    font-size: 1.5rem;
    transition: 0.5s;
    text-shadow: 2px 2px 8px #fff;
    border-bottom: 4px black solid;
  }
}
