#contact-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

#contact-subheading {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact-subheading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto Slab";
}

#bars {
  width: 100px;
  height: 5px;
  background-color: black;
}

#contactdetails {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#phoneDetails,
#addressDetails,
#emailDetails {
  border: 1px black solid;
  height: 25vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
