<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="app.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="about-section" class="about-section">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2 id="about-heading" class="display-5" data-heading="portfolio">
              About Me
            </h2>
            <h4 id="about-subheading" class="display-7">
              <span><div id="bars" class="rounded-pill"></div></span>
              <span id="about-subheading-text">who i am</span>
              <span><div id="bars" class="rounded-pill"></div></span>
            </h4>
          </div>
        </div>

        <div id="details" class="row">
          <div id="intro" class="col-2">Introduction</div>
          <div id="education" class="col-2">Education</div>
          <div id="achievements" class="col-2">Achievement</div>
        </div>
      </div>

      <div id="detailsBody" class="row">
        <div id="introBasket" class="introBasket">
          <div id="introBasketData" class="container">
            <div id="introDetails" class="row">
              <div id="introDetailsLeft" class="card d-grid col-5 mx-auto">
                <img
                  id="aboutProfileImage"
                  src="Camps.png"
                  class="card-img-top"
                  alt="..."
                />
              </div>
              <div id="introDetailsRight" class="card d-grid col-7 mx-auto">
                <div class="card-body">
                  <h3 id="aboutIntroTitle" class="card-title">
                    I'm UDIT JAIN and I'm a
                  </h3>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content. Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Quibusdam nulla mollitia
                    aliquam dolor qui et praesentium autem amet, corporis
                    officia odio non voluptatem saepe repellat quis quidem natus
                    consectetur alias? Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Deleniti ullam hic quis incidunt ipsum
                    culpa facere veritatis, quia nam illum molestiae, earum
                    voluptates unde tempore iure porro? Ab, nam harum!
                  </p>
                  <a
                    href="#"
                    class="btn btn-primary rounded-pill p-2 px-5"
                    style="font-size: 20px; color: white; font-weight: 600"
                    >RESUME
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="educationBasket" class="educationBasket">
          <div id="educationBasketData" class="container">
            <div id="highschoolDetails" class="row">
              <div id="highschoolLeft" class="card col-6">
                <div class="card-body">
                  <h4 id="highschoolName" class="card-title">
                    GATEWAY INTERNATIONAL SCHOOL
                  </h4>
                  <h5 id="highschoolAddress" class="display-8">
                    Uttar Pradesh
                  </h5>
                  <h6 id="highschoolTimestamp" class="display-12">
                    [ APRIL 2015 - APRIL 2016 ]
                  </h6>
                  <h3 id="highschoolMarks" class="display-8">CGPA : 10</h3>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a
                    href="https://www.facebook.com/Gatewayschoolbaghpat/"
                    class="btn btn-success rounded-pill"
                    >Visit</a
                  >
                </div>
              </div>
              <div id="highschoolRight" class="card col-6">
                <div class="card-body">
                  <img id="highSchoolImage" src="high.png" alt="" />
                  <h1 class="card-title">SECONDARY</h1>
                  <h5 class="display-10">{ 10th - CBSE }</h5>
                  <h6 id="highschoolSubjects" class="display-12 mt-3">
                    ( MATHS - SCIENCE )
                  </h6>
                </div>
              </div>
            </div>
            <br />
            <img src="line-break.jpg" id="line-break-img" />
            <br />
            <div id="IntermediateDetails" class="row">
              <div id="IntermediateLeft" class="card col-6">
                <div class="card-body">
                  <img id="IntermediateImage" src="intermediate.jpg" alt="" />
                  <h1 class="card-title">SENIOR SECONDARY</h1>
                  <h5 class="display-10">{ 12th - CBSE }</h5>
                  <h6 id="intermediateSubjects" class="display-12 mt-3">
                    ( PHYSICS - CHEMISTRY - MATHS )
                  </h6>
                </div>
              </div>
              <div id="IntermediateRight" class="card col-6">
                <div class="card-body">
                  <h4 id="IntermediateName" class="card-title">
                    ABHINAV PUBLIC SCHOOL
                  </h4>
                  <h5 id="IntermediateAddress" class="display-8">
                    Pitampura, Delhi
                  </h5>
                  <h6 id="IntermediateTimestamp" class="display-12">
                    [ APRIL 2017 - APRIL 2018 ]
                  </h6>
                  <h3 id="IntermediateMarks" class="display-8">
                    Percentage : 91.4%
                  </h3>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a
                    href="https://www.abhinavpublicschoolrohini.com/"
                    class="btn btn-success rounded-pill"
                    >Visit</a
                  >
                </div>
              </div>
            </div>
            <br />
            <img src="line-break.jpg" id="line-break-img" />
            <br />
            <div id="graduationDetails" class="row">
              <div id="graduationLeft" class="card col-6">
                <div class="card-body">
                  <h4 id="collegeName" class="card-title">
                    MAHARAJA AGRASEN INSTITUTE OF TECHNOLOGY
                    <span style="font-weight: 900"> (IPU)</span>
                  </h4>
                  <h5 id="collegeAddress" class="display-8">Rohini, Delhi</h5>
                  <h6 id="collegeTimestamp" class="display-12">
                    [ August 2018 - August 2022 ]
                  </h6>
                  <h3 id="collegeMarks" class="display-8">
                    Aggregate : 83%, CGPA : 8.9
                  </h3>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a
                    href="https://mait.ac.in"
                    class="btn btn-success rounded-pill"
                    >Visit</a
                  >
                </div>
              </div>
              <div id="graduationRight" class="card col-6">
                <div class="card-body">
                  <img id="graduationImage" src="college.png" alt="" />
                  <h1 class="card-title">GRADUATION</h1>
                  <h5 class="display-10">{ Bachelor of Technology }</h5>
                  <h6 id="graduationSubjects" class="display-12 mt-3">
                    ( COMPUTER SCIENCE AND ENGINEERING )
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="achievementBasket" class="achievementBasket">
          <div id="achievementBasketData" class="container">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content. Lorem ipsum dolor sit, amet
                  consectetur adipisicing elit. Suscipit praesentium aut, autem
                  ab exercitationem nostrum? Voluptatibus veritatis fuga totam
                  reiciendis autem dolor harum aliquid, ea vero id possimus nemo
                  sint! Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit. Architecto exercitationem, numquam excepturi repudiandae
                  et aut nemo totam quam magnam dolor eligendi cumque temporibus
                  necessitatibus aliquid ducimus qui rem enim similique.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="app.js"></script>
  </body>
</html>
