#about-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

#about-subheading {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-subheading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto Slab";
}

#bars {
  width: 100px;
  height: 5px;
  background-color: black;
}

#details {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#details div {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  min-width: 150px;
}

#education {
  border-left: 3px black solid;
  border-right: 3px black solid;
}

#details div:hover {
  border-bottom: 2px black solid;
  transition: 0.1s;
  font-size: 1.2em;
  text-shadow: 50px;
}

#detailsBody {
  margin: 10px;
}

#introBasket {
  width: 100%;
  margin-top: 10px;
  background-color: red;
}
#educationBasket {
  width: 100%;
  margin-top: 10px;
  display: none;
}
#achievementBasket {
  width: 100%;
  margin-top: 10px;
  display: none;
  background-color: green;
}

#introBasketData {
  width: 80vw;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#educationBasketData {
  width: 80vw;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#achievementBasketData {
  width: 80vw;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#highschoolDetails {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#IntermediateDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#graduationDetails {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#introDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#highschoolLeft,
#IntermediateLeft,
#graduationLeft {
  min-width: 300px;
  text-align: right;
  font-family: "Spartan";
  border-right: 1px black solid;
}

#highschoolName,
#IntermediateName,
#collegeName {
  font-weight: 700;
  text-decoration: underline;
  line-height: 40px;
}

#highschoolRight,
#IntermediateRight,
#graduationRight {
  text-align: left;
  font-family: "Spartan";
  border-left: 1px black solid;
}

#introDetailsLeft {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#introDetailsRight {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#highSchoolImage,
#graduationImage,
#IntermediateImage {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
}

#aboutProfileImage {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  box-shadow: 20px 2px 2px 2px;
}
