#about-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

#about-subheading {
  font-family: "Montserrat";
  text-align: center;
}

#bars {
  width: 35px;
  height: 3.5px;
  background-color: black;
  margin: 6px 0;
}
