<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UDIT JAIN</title>
    <link rel="stylesheet" href="app.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=8wap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=8wap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=8wap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=8wap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=8wap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="links-section">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2 id="links-heading" class="display-8" data-heading="portfolio">
              Connections
            </h2>
            <h4 id="links-subheading" class="display-7">
              <span><div id="bars" class="rounded-pill"></div></span>
              <span id="links-subheading-text">get connected</span>
              <span><div id="bars" class="rounded-pill"></div></span>
            </h4>
          </div>
        </div>

        <div id="linksHeadings" class="row">
          <div id="techHeading" class="col-2">Tech Links</div>
          <div id="socialHeading" class="col-2">Social Links</div>
        </div>
      </div>

      <div id="linksBody" class="row">
        <div id="techBasket">
          <div id="techBasketData" class="container">
            <a href="https://github.com/uditjain100" id="github" class="btn">
              <img
                id="githubimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg"
                class="card-img-top"
                alt="uditjain100"
              />
              <div class="card-body">
                <h5 id="githubtitle" class="card-title">GITHUB</h5>
                <h6 id="githubusername">[ uditjain100 ]</h6>
              </div>
            </a>

            <a
              href="https://www.leetcode.com/uditjain_100"
              id="leetcode"
              class="btn"
            >
              <img
                id="leetcodeimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/leetcode.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="leetcodetitle" class="card-title">LEETCODE</h5>
                <h6 id="leetcodeusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a
              href="https://codeforces.com/profile/uditjain_100"
              id="codeforces"
              class="btn"
            >
              <img
                id="codeforcesimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/codeforces.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="codeforcestitle" class="card-title">CODEFORCES</h5>
                <h6 id="codeforcesusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a
              href="https://www.hackerrank.com/uditjain_100"
              id="hackerrank"
              class="btn"
            >
              <img
                id="hackerrankimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/hackerrank.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="hackerranktitle" class="card-title">HACKERRANK</h5>
                <h6 id="hackerrankusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a
              href="https://stackoverflow.com/users/12661831"
              id="stackoverflow"
              class="btn"
            >
              <img
                id="stackoverflowimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/stackoverflow.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="stackoverflowtitle" class="card-title">
                  STACKOVERFLOW
                </h5>
                <h6 id="stackoverflowusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a
              href="https://www.codechef.com/users/uditjain_100"
              id="codechef"
              class="btn"
            >
              <img
                id="codechefimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/codechef.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="codecheftitle" class="card-title">CODECHEF</h5>
                <h6 id="codechefusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a
              href="https://www.hackerearth.com/uditjain_100"
              id="hackerearth"
              class="btn"
            >
              <img
                id="hackerearthimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/hackerearth.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="hackerearthtitle" class="card-title">HACKEREARTH</h5>
                <h6 id="hackerearthusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a
              href="https://auth.geeksforgeeks.org/user/https://auth.geeksforgeeks.org/user/uditjain_100"
              id="geeksforgeeks"
              class="btn"
            >
              <img
                id="geeksforgeeksimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/geeksforgeeks.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="geeksforgeekstitle" class="card-title">
                  GEEKSFORGEEKS
                </h5>
                <h6 id="geeksforgeeksusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a href="https://dev.to/uditjain_100" id="dev" class="btn">
              <img
                id="devimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/dev-dot-to.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="devtitle" class="card-title">DEV</h5>
                <h6 id="devsusername">[ uditjain_100 ]</h6>
              </div>
            </a>
          </div>
        </div>
        <div id="socialBasket">
          <div id="socialBasketData" class="container">
            <a
              href="https://linkedin.com/in/udit-jain-8a38a016a/"
              id="linkedin"
              class="btn"
            >
              <img
                id="linkedinimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/linkedin.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="linkedintitle" class="card-title">LINKEDIN</h5>
                <h6 id="linkedinusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a href="https://twitter.com/uditjain_100" id="twitter" class="btn">
              <img
                id="twitterimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/twitter.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="twittertitle" class="card-title">TWITTER</h5>
                <h6 id="twitterusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a
              href="https://discord.gg/https://discord.gg/C4SsYFS5"
              id="discord"
              class="btn"
            >
              <img
                id="discordimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/discord.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="discordtitle" class="card-title">DISCORD</h5>
                <h6 id="discordusername">[ uditjain_100 ]</h6>
              </div>
            </a>

            <a
              href="https://instagram.com/uditjain_100"
              id="instagram"
              class="btn"
            >
              <img
                id="instagramimage"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/instagram.svg"
                class="card-img-top"
                alt="uditjain_100"
              />
              <div class="card-body">
                <h5 id="instagramtitle" class="card-title">INSTAGRAM</h5>
                <h6 id="instagramusername">[ uditjain_100 ]</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <script src="app.js"></script>
  </body>
</html>
