body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #003049;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
