/* Introduction */

#Introduction .row #sidebar {
  height: 100vh;
}

#greetandimage {
  display: flex;
  min-width: 700px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;
}

#greet {
  height: 85vh;
}

#image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 85vh;
}

#profilePicture {
  margin-top: 100px;
  width: 200px;
  height: 200px;
}
