/* Introduction */

#sidebar {
  height: 100vh;
}

#greetandimage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* height: 85vh; */
}

#greet {
  height: 89vh;
  min-width: 500px;
}

#image {
  display: flex;
  min-width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  height: 89vh;
}

#profilePicture {
  margin-top: 80px;
  width: 300px;
  height: 300px;
}
