/* * Common Section */

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

html {
  animation: transitionIn 1s;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#c_n4 {
  height: 100%;
}

/* * Navbar Section */

#navtitle {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 300;
  margin-left: 30px;
}

#navlist li {
  font-family: "Montserrat";
  font-weight: 200;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  transition: 0.1s;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#navlist li img {
  width: 30px;
  display: none;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
}

#navlist li:hover {
  font-weight: 500;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom: 2px white solid;
}

@media (max-width: 993px) {
  #navlist li img {
    display: flex;
    background-color: grey;
  }
}

/* * About Section */

#about-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  margin-top: 100px;
}

#about-subheading {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-subheading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto Slab";
}

#bars {
  width: 100px;
  height: 5px;
  background-color: black;
}

#aboutdetails {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#aboutdetails div {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  min-width: 150px;
}

#education {
  border-left: 1px black solid;
  border-right: 1px black solid;
}

#aboutdetails div:hover {
  border-left: 3px black solid;
  border-right: 3px black solid;
  transition: 0.5s;
  font-size: 1.2em;
  font-weight: 600;
}

#aboutdetailsBody {
  margin: 10px;
}

#introBasket {
  width: 100%;
  margin-top: 10px;
}
#educationBasket {
  width: 100%;
  margin-top: 10px;
  display: none;
}
#activitiesBasket {
  width: 100%;
  margin-top: 10px;
  display: none;
}

#introBasketData {
  width: 98vw;
  height: 100%;
  margin-bottom: 20px;
  animation: transitionIn 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#educationBasketData {
  width: 80vw;
  height: 100%;
  margin-bottom: 20px;
  animation: transitionIn 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#activitiesBasketData {
  width: 80vw;
  height: 100%;
  margin-bottom: 20px;
  animation: transitionIn 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#highschoolDetails {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#IntermediateDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#graduationDetails {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#introDetails {
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#organiserDetails,
#volunteerDetails {
  font-family: "Ubuntu";
}

#highschoolLeft,
#IntermediateLeft,
#graduationLeft {
  min-width: 300px;
  text-align: right;
  font-family: "Spartan";
  border-right: 1px black solid;
}

#highschoolName,
#IntermediateName,
#collegeName {
  font-weight: 700;
  text-decoration: underline;
  line-height: 40px;
}

#aboutIntroTitle {
  font-family: "Red Hat Display";
  font-size: 40px;
  font-weight: 600;
}

#activityTitle {
  font-size: 50px;
  font-weight: 600;
}

#highschoolRight,
#IntermediateRight,
#graduationRight {
  text-align: left;
  font-family: "Spartan";
  border-left: 1px black solid;
}

#introDetailsLeft {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px black solid;
}

#introDetailsRight {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#highSchoolImage,
#graduationImage,
#IntermediateImage {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
}

#aboutProfileImage {
  width: 300px;
  height: 300px;
  border-radius: 2%;
  border: 1px white solid;
  box-shadow: 2px 2px 2px 2px;
}

/* * Common Section */

.footer {
  position: -webkit-sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Montserrat";
}
