/* navbar*/

#navlinksList {
  display: flex;
  font-size: 20px;
  font-family: "Montserrat";
  display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Montserrat";
}
