/* * Common Section */

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

html {
  animation: transitionIn 1s;
}

p {
  font-family: "Poppins";
}

/* * Navbar Section */

#navtitle {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 300;
  color: white;
  border: 2px white solid;
  margin-left: 30px;
}

#navlist li {
  font-family: "Montserrat";
  font-weight: 200;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  transition: 0.1s;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#navlist li img {
  width: 30px;
  display: none;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
}

#navlist li a {
  color: white;
}

#navlist li:hover {
  font-weight: 500;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom: 2px white solid;
}

@media (max-width: 993px) {
  #navlist li img {
    display: flex;
    background-color: grey;
  }
}

/* * About Section */

#about-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
}

#about-subheading {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-subheading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto Slab";
}

#bars {
  width: 100px;
  height: 5px;
  background-color: black;
}

#aboutdetails {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#aboutdetails div {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  min-width: 150px;
}

#education {
  border-left: 1px black solid;
  border-right: 1px black solid;
}

#aboutdetails div:hover {
  border-left: 3px black solid;
  border-right: 3px black solid;
  transition: 0.5s;
  font-size: 1.2em;
  font-weight: 600;
}

#aboutdetailsBody {
  margin: 10px;
}

#introBasket {
  width: 100%;
  margin-top: 10px;
}
#educationBasket {
  width: 100%;
  margin-top: 10px;
  display: none;
}
#activitiesBasket {
  width: 100%;
  margin-top: 10px;
  display: none;
}

#introBasketData {
  width: 98vw;
  height: 100%;
  margin-bottom: 20px;
  animation: transitionIn 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#educationBasketData {
  width: 80vw;
  height: 100%;
  margin-bottom: 20px;
  animation: transitionIn 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#activitiesBasketData {
  width: 80vw;
  height: 100%;
  margin-bottom: 20px;
  animation: transitionIn 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#highschoolDetails {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#IntermediateDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#graduationDetails {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#introDetails {
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#organiserDetails,
#volunteerDetails {
  font-family: "Ubuntu";
}

#highschoolLeft,
#IntermediateLeft,
#graduationLeft {
  min-width: 300px;
  text-align: right;
  font-family: "Spartan";
  border-right: 1px black solid;
}

#highschoolName,
#IntermediateName,
#collegeName {
  font-weight: 700;
  text-decoration: underline;
  line-height: 40px;
}

#aboutIntroTitle {
  font-family: "Red Hat Display";
  font-size: 40px;
  font-weight: 600;
}

#activityTitle {
  font-size: 50px;
  font-weight: 600;
}

#highschoolRight,
#IntermediateRight,
#graduationRight {
  text-align: left;
  font-family: "Spartan";
  border-left: 1px black solid;
}

#introDetailsLeft {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px black solid;
}

#introDetailsRight {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#highSchoolImage,
#graduationImage,
#IntermediateImage {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
}

#aboutProfileImage {
  width: 300px;
  height: 300px;
  border-radius: 2%;
  border: 1px white solid;
  box-shadow: 2px 2px 2px 2px;
}

/* * Services Section */

#services-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

#services-subheading {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#services-subheading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto Slab";
}

#bars {
  width: 100px;
  height: 5px;
  background-color: black;
}

#servicesdetails {
  margin-top: 70px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#androiddetails,
#webdetails {
  min-width: 400px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: none;
}

#androiddetails img,
#webdetails img {
  height: 200px;
  width: 200px;
}

#androiddetails #title,
#webdetails #title {
  font-family: "Montserrat";
  font-size: 28px;
}

/* * Skills Section */

#skills-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

#skills-subheading {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#skills-subheading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto Slab";
}

#bars {
  width: 100px;
  height: 5px;
  background-color: black;
}

#skillsdetails {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#skillsdetails div {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  min-width: 150px;
}

#ides,
#dbs {
  border-left: 1px black solid;
  border-right: 1px black solid;
}

#skillsdetails div:hover {
  border-left: 3px black solid;
  border-right: 3px black solid;
  transition: 0.5s;
  font-size: 1.2em;
  font-weight: 600;
}

#skillsdetailsBody {
  margin-top: 40px;
  margin-bottom: 40px;
}

#languagesBasket {
  animation: transitionIn 1s;
}

#androidTitle,
#cpTitle,
#webTitle,
#otherTitle {
  font-family: "Montserrat";
}

#androidlanguages,
#cplanguages,
#weblanguages,
#otherlanguages {
  margin-top: 50px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#languageDetails {
  min-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Quicksand";
}

#kotlinlanguageProgress,
#javalanguageProgress,
#xmllanguageProgress,
#cjlanguageProgress,
#clanguageProgress,
#htmllanguageProgress,
#csslanguageProgress,
#javascriptlanguageProgress,
#reactlanguageProgress,
#pythonlanguageProgress,
#sqllanguageProgress {
  width: 100%;
  background-color: lightgray;
  height: 8px;
  position: relative;
}

@keyframes transitionkotlin {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

#kotlinlanguageProgress::before {
  width: 80%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionkotlin 1s;
  position: absolute;
}

@keyframes transitionjava {
  from {
    width: 0%;
  }
  to {
    width: 55%;
  }
}

#javalanguageProgress::before {
  width: 55%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionjava 1s;
  position: absolute;
}

@keyframes transitionxml {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

#xmllanguageProgress::before {
  width: 85%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionxml 1s;
  position: absolute;
}

@keyframes transitioncj {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

#cjlanguageProgress::before {
  width: 90%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitioncj 1s;
  position: absolute;
}

@keyframes transitionc {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

#clanguageProgress::before {
  width: 60%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionc 1s;
  position: absolute;
}

@keyframes transitionhtml {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

#htmllanguageProgress::before {
  width: 90%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionhtml 1s;
  position: absolute;
}

@keyframes transitioncss {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

#csslanguageProgress::before {
  width: 85%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitioncss 1s;
  position: absolute;
}

@keyframes transitionjavascript {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

#javascriptlanguageProgress::before {
  width: 95%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionjavascript 1s;
  position: absolute;
}

@keyframes transitionreact {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}

#reactlanguageProgress::before {
  width: 25%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionreact 1s;
  position: absolute;
}

@keyframes transitionpython {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

#pythonlanguageProgress::before {
  width: 40%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionpython 1s;
  position: absolute;
}

@keyframes transitionsql {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

#sqllanguageProgress::before {
  width: 80%;
  background-color: crimson;
  height: 8px;
  left: 0;
  top: 0;
  content: "";
  animation: transitionsql 1s;
  position: absolute;
}

#idesBasket {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: transitionIn 1s;
}

#allidesDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#idesdetails {
  margin: 10px;
  min-width: 400px;

  background-color: lightgray;
  border: 1px black solid;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#uses {
  margin: 10px;
  font-weight: 500;
  font-family: "Montserrat";
  border: 1px black solid;
}

#idesData {
  min-width: 400px;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#ideimage,
#idename {
  font-family: "Nunito";
  margin: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#ideimage img {
  height: 80px;
  width: 80px;
}

#dbsBasket {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: transitionIn 1s;
}

#webdbs,
#androiddbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#dbsdetails {
  margin: 10px;
  min-width: 400px;

  background-color: lightgray;
  border: 1px black solid;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#dbsData {
  min-width: 400px;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#dbimage,
#dbname {
  font-family: "Nunito";
  margin: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#dbimage img {
  height: 80px;
  width: 80px;
}

#otherBasket {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: transitionIn 1s;
}

#versioncontrol {
  background-color: lightgray;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display: flex;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#versioncontrol div {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#versioncontrol div ul li {
  background-color: lightgray;
  font-family: "Montserrat";
  font-size: 25px;
}

/* * ************************************* Links Section */

#links-section {
  width: 99vw;
}

#links-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  margin-top: 40px;
}

#links-subheading {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#links-subheading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto Slab";
}

#bars {
  width: 100px;
  height: 5px;
  background-color: black;
}

#linksHeadings {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#linksHeadings div {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  min-width: 150px;
}

#techHeading {
  border-right: 1px black solid;
}

#socialHeading {
  border-left: 1px black solid;
}

#linksHeadings div:hover {
  border-left: 3px black solid;
  border-right: 3px black solid;
  transition: 0.5s;
  font-size: 1.2em;
  font-weight: 600;
}

#techBasket {
  width: 100%;
  margin-top: 50px;
}

#socialBasket {
  width: 100%;
  margin-top: 50px;
  display: none;
}

#techBasketData {
  width: 95vw;
  height: 100%;
  margin-bottom: 20px;
  animation: transitionIn 1s;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#socialBasketData {
  width: 95vw;
  height: 100%;
  margin-bottom: 20px;
  animation: transitionIn 1s;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#techBasketData a,
#socialBasketData a {
  margin: 10px;
  min-width: 250px;
  text-decoration: none;
  transition: 1s;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  border-radius: 10%;
  font-family: "Montserrat";

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#techBasketData a:hover,
#socialBasketData a:hover {
  text-decoration: underline;
  margin-bottom: 1.2rem;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10%;
}

#techBasketData a div h5,
#socialBasketData a div h5 {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

#techBasketData a img,
#socialBasketData a img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
}

/* * Contact Section */

#contact-heading {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

#contact-subheading {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact-subheading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto Slab";
}

#bars {
  width: 100px;
  height: 5px;
  background-color: black;
}

#contactdetails {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#phoneDetails,
#addressDetails,
#emailDetails {
  min-width: 300px;
  border: 1px black solid;
  border-radius: 5%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

#phoneDetails img,
#addressDetails img,
#emailDetails img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

#messageHeadingArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#messageHeading {
  font-family: "Roboto Slab";
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

#msg-bars {
  width: 300px;
  height: 2px;
  background-color: black;
}

#messageForm {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#messageDetails,
#messageBody {
  min-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#messageDetails label,
#messageBody label {
  font-family: "Montserrat";
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

/* * Common Section */

.footer {
  position: -webkit-sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Montserrat";
}
