/* Introduction */

#Introduction .row #sidebar {
  height: 100vh;
}

#greet {
  height: 85vh;
}

#image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#profilePicture {
}
