/* navbar*/

.nav-item {
  color: white;
  margin: 8px;
  padding: auto;
  font-size: 20px;
  font-weight: 600;
}

.nav-item:hover {
  border-bottom: 5px grey solid;
  transition: 1s;
  font-size: 1.5rem;
}

#navlinksList li {
  display: inline-block;
}

#navlinksList li a {
  color: black;
  font-family: "Montserrat";
}
